# Divide the training set

In [142]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_classification
from imblearn.over_sampling import ADASYN
from imblearn.under_sampling import TomekLinks
from collections import Counter
from sklearn.model_selection import train_test_split

In [143]:
ori_df = pd.read_csv('dataSelected.csv')

In [144]:
X = ori_df.iloc[:,1:]
y = ori_df.iloc[:,0]

In [145]:
X.head()

,Health_insurance,F_exercise,Sleep,Fruit,F_Suffering_from,F_Acute_complications_of_diabetes,F_Hypoglycemia,W_Checked_inside_shoe,W_smoked,PHQ9_Question_2,...,Serum_iron,Ferritin,Transferrin,Glutathione_peroxidase,MDA,Reduced_Glutathione,Reduced-oxidized_glutathione,1-Hydroxypyrene_Creatinine,Hyperlipidemia,Diploma
0,2,1,0,1,0,1,1,0,5,1,...,-0.718287,0.062683,-0.285398,0.785355,0.101452,0.365176,0.267886,-0.600164,3,4
1,1,0,0,1,1,1,1,0,0,1,...,-0.698796,-0.937781,-0.002755,1.261969,0.321971,0.322987,0.244584,-0.081255,1,2
2,1,1,0,2,1,1,1,0,3,0,...,-1.484381,-0.283029,0.430988,2.500676,2.393582,0.547727,0.145251,0.014100,2,2
3,2,0,0,1,1,0,0,0,5,1,...,1.201517,-0.131585,1.054907,1.223722,-0.472789,0.293692,0.114185,1.534257,3,3
4,1,1,0,1,1,0,0,0,0,0,...,0.590278,1.393812,0.809663,-0.431463,-0.852495,0.523681,0.295415,-1.444377,3,3

In [146]:
y.head()

0    0
1    1
2    0
3    0
4    0
Name: MOCA_Grade, dtype: int64

## 按7：3划分

In [147]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

#### 合并x_test和y_test

In [148]:
ori_test = pd.concat([y_test,X_test], axis=1)

### 导出x_test和y_test保持不动

In [149]:
#Exporting test sets does not work
ori_test.to_csv('./data/test.csv',index=False)

## Sampling the training set

In [150]:
#X_train,y_train
print(f'Category distribution of the original data set: {Counter(y_train)}')

Category distribution of the original data set: Counter({0: 263, 1: 55})

In [151]:
# Determine the number of samples for the majority and minority classes
n_majority = np.sum(y_train == 0)
n_minority = np.sum(y_train == 1)

In [152]:
print(f"Minority class: {n_majority} Majority class: {n_minority}")

Minority class: 263 Majority class: 55

### Oversampling using ADASYN

In [153]:
# Oversampling using ADASYN
adasyn = ADASYN(sampling_strategy={1:n_majority})
X_res, y_res = adasyn.fit_resample(X_train, y_train)

In [155]:
print(f'Category distribution of ADASYN dataset after oversampling: {Counter(y_res)}')

Category distribution of ADASYN dataset after oversampling: Counter({0: 263, 1: 251})

### Undersampling with Tomek Links

In [157]:
# Undersampling with Tomek Links
tomek = TomekLinks()
X_resampled, y_resampled = tomek.fit_resample(X_res, y_res)

## Export training set

In [159]:
aft1_train = pd.concat([y_resampled,X_resampled], axis=1)
aft1_train.to_csv('./data/train.csv',index=False)